body {
  background-color: powderblue;
}
h1 {
  color: blue;
  text-align: center;
  margin: 5px 50px;
}
h2 {
margin: 5px 50px;
}
h3 {
margin: 5px 50px;
}
h4 {
margin: 5px 50px;
}
p {
  color: red;
  margin: 5px 50px;
}
