@import url('./font-families.css');

/* Your actual styles below */
body {
    font-family: 'opendyslexic', sans-serif;
}



body {
  background-color: powderblue;
  font-family: 'opendyslexic', sans-serif;
}
h1 {
  color: blue;
  text-align: center;

p {
  color: red;
}
